<?xml version="1.0" encoding="UTF-8"?>
<!-- 不分级别同步文件日志输出配置 -->
<configuration>
    <!-- 日志级别 -->
    <property name="logLevel" value="DEBUG"/>
    <!-- 日志地址 -->
    <property name="logPath" value="./logs"/>
    <!-- 最大保存时间 -->
    <property name="maxHistory" value="10"/>
    <!-- 异步缓冲队列的深度,该值会影响性能.默认值为256 -->
    <property name="queueSize" value="512"/>

    <!-- 控制台打印日志的相关配置 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志格式 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <!--启动日志打印进另外的目录-->
    <appender name="logs-dancer-started"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ./logs-dancer-started/%d{yyyy-MM-dd}/%d{yyyy-MM-dd}.log
            </FileNamePattern>
            <!-- 最多保留X天log -->
            <maxHistory>3</maxHistory>
            <totalsizecap>1MB</totalsizecap>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </layout>
    </appender>

    <!-- 文件保存日志的相关配置，同步 -->
    <appender name="logs-dancer-controller"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ./logs-dancer-controller/%d{yyyy-MM-dd}/%d{yyyy-MM-dd}.log
            </FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--<Pattern>
                %d{yyyy-MM-dd HH:mm:ss} -%msg%n
            </Pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </layout>
    </appender>
    <!-- 文件保存日志的相关配置，同步 -->
    <appender name="logs-dancer-service"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>
                ./logs-dancer-service/%d{yyyy-MM-dd}/%d{yyyy-MM-dd}.log
            </FileNamePattern>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--<Pattern>
                %d{yyyy-MM-dd HH:mm:ss} -%msg%n
            </Pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </layout>
    </appender>

    <!-- 未分包版本
    <logger name="root" level="${logLevel}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="logFile" />
    </logger>
    <logger name="org.springframework.scheduling">
        <level value="info" />
    </logger>-->
    <!--分包版本-->
    <root level="${logLevel}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="logs-dancer-started" />
    </root>
    <logger name="com.wt.overflow.controller.sys">
        <appender-ref ref="logs-dancer-controller" />
    </logger>
    <logger name="com.wt.overflow.service.impl">
        <appender-ref ref="logs-dancer-service" />
    </logger>
    <!--说明：日志分包打印  需要功能分包-->
</configuration>