@charset "utf-8";
/* CSS Document */
/*上传样式*/
.upload-box{ position:relative; display:inline-block; height:32px; vertical-align:middle; zoom:1; *display:inline;}
	.upload-box .upload-btn{ display:inline-block; height:32px; zoom:1; *display:inline; }
	.upload-box .upload-progress{ position:absolute; top:0; left:0; padding:2px 5px; width:115px; height:26px; border:1px solid #1ABC9C; background:#1ABC9C; overflow:hidden; }
	.upload-box .upload-progress .txt{ display:block; padding-right:10px; font-weight:normal; font-style:normal; font-size:11px; line-height:18px; height:18px; text-overflow:ellipsis; overflow:hidden;color:#fff; }
	.upload-box .upload-progress .bar{ position:relative; display:block; width:112px; height:4px; border:1px solid #fff; }
	.upload-box .upload-progress .bar b{ display:block; width:0%; height:4px; font-weight:normal; text-indent:-99em; background:#fff; overflow:hidden; }
	.upload-box .upload-progress .close{ position:absolute; display:block; top:1px; right:1px; width:14px; height:14px; text-indent:-99em; background:url(skin_icons.png) -56px -196px no-repeat; cursor:pointer; overflow:hidden; }
	
/*图片相册样式*/
.photo-list{ margin:0; padding:10px 0 0 0; }
	.photo-list ul{ margin:0 0 0 -15px; }
	.photo-list ul li{ float:left; margin-left:15px; text-align:center; *width:118px; }
	.photo-list ul li .img-box{ position:relative; margin:5px auto; width:112px; height:112px; border:3px #efefed solid; cursor:pointer; overflow:hidden; }
	.photo-list ul li .img-box.selected{ border:3px #f60 solid; }
	.photo-list ul li .img-box img{ width:100%; height:100%; opacity:1; }
	.photo-list ul li .img-box .remark{ position:absolute; display:block; left:0; right:0; bottom:0; margin:0; padding:3px 2px; height:18px; line-height:18px; background:#000; filter:alpha(opacity=50); opacity:0.5; -moz-opacity:0.5; text-align:left; overflow:hidden;}
	.photo-list ul li .img-box .remark:hover{ top:0; bottom:0; height:100%; }
	.photo-list ul li .img-box .remark i{ position:relative; font-size:12px; color:#fff; font-style:normal; line-height:18px; }
	.photo-list ul li a{ padding-right:1em; }
	
/*附件列表样式*/
.attach-list{ margin:0; padding:10px 0 0 0; }
	.attach-list ul{ margin:0 0 0 -15px; list-style:none; }
	.attach-list ul:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	.attach-list ul li{ position:relative; float:left; margin:0 0 15px 15px; padding:5px 18px 8px 18px; border:1px solid #eee; box-shadow:0 0 3px 0 rgba(0, 0, 0, 0.1); width:215px; }
	.attach-list ul li .icon{ position:absolute; display:block; top:8px; left:2px; width:14px; height:14px; text-indent:-999em; background:url(skin_icons.png) no-repeat -84px -140px; overflow:hidden; }
	.attach-list ul li .del{ position:absolute; display:block; top:0; right:0; width:20px; height:20px; text-indent:-99em; background:url(skin_icons.png) no-repeat -53px -193px; cursor:pointer; overflow:hidden; }
	.attach-list ul li .edit{ position:absolute; display:block; bottom:6px; right:5px; width:20px; height:20px; text-indent:-99em; background:url(skin_icons.png) -137px -81px no-repeat; cursor:pointer; overflow:hidden; }
	.attach-list ul li .title{ display:block; margin-bottom:3px; border-bottom:1px solid #ccc; line-height:24px; height:26px; font-weight:bold; white-space:nowrap; word-break:break-all; overflow:hidden; }
	.attach-list ul li .info,.attach-list ul li .btns{ display:block; line-height:24px; }
	.attach-list ul li .btns input{ display:inline-block; padding:0 3px; border:1px solid #d7d7d7; width:40px; height:20px; line-height:18px; color:#666; font-size:12px; background:#fff; vertical-align:middle; }

/*规格列表样式*/
.spec-item{ }
	.spec-item li{ float:left; position:relative; margin:0 8px 8px 0; padding:1px; line-height:20px; vertical-align:middle; }
	.spec-item li a{ display:block; padding:1px; color:#666; min-width:10px; width:auto !important;  text-align:center; text-decoration:none; border:1px solid #eee; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; vertical-align:middle; }
	.spec-item li a i{ display:inline-block; padding:3px 9px; font-style:normal; line-height:20px; }
	.spec-item li a img{ width:32px; height:32px; vertical-align:middle; }
	.spec-item li:after{ content:"."; display:none; position:absolute; right:0; bottom:0; width:12px; height:12px; text-indent:-99em; background:url(skin_icons.png) -169px -85px no-repeat; overflow:hidden; }
	.spec-item li.selected a{ margin:-1px; color:#333; border:2px solid #1e99c7; }
	.spec-item li.selected:after{ display:block; background-position:-84px -196px; }
	
/*表格样式*/
.border-table{ min-width:500px; border-width:1px; margin:0; background:#fff; }
	.border-table th,.border-table td{ margin:0; padding:2px 10px; line-height:26px; height:28px; border:1px solid #eee; vertical-align:middle; white-space:nowrap; word-break:keep-all; }
	.border-table td input{ vertical-align:middle; }
	.border-table td .position{ position:relative; min-height:100%; }
	.border-table td .ibtn{ position:absolute;top:0; right:-7px; background:#cc; border:none; color:#666; cursor:pointer; font-family:"Microsoft Yahei"; font-size:12px; height:25px; line-height:25px; padding:0 12px; }
	.border-table td .ibtn:hover{ color:#fff; background:#FF9C30; }
	.border-table thead th{ color:#333; font-weight:normal; white-space:nowrap; text-align:center; background:#f9f9f9; }
	.border-table tbody th{padding-right:5px; text-align:right;color:#707070;background-color:#f9f9f9}
	.border-table tr.td_c td{ text-align:center; }
	.border-table td .cbllist input{ vertical-align:middle; }
	.border-table td .cbllist label{ margin-right:5px; vertical-align:middle; }
	.border-table td .folder-open{ display:inline-block; margin-right:2px; width:20px; height:20px; background:url(skin_icons.png) -160px -250px no-repeat; vertical-align:middle; text-indent:-999em; }
	.border-table td .folder-line{display:inline-block; margin-right:2px; width:20px; height:20px; background:url(skin_icons.png) -200px -250px no-repeat; vertical-align:middle; text-indent:-999em; }
	.border-table td .img-box{ display:inline-block; height:32px; vertical-align:middle; }
		.border-table td .img-box img{ padding:1px; width:30px; height:30px; border:1px solid #eee; }

/*订单状态样式*/
.order-flow{ margin:0 auto; padding:0; font-size:12px; font-weight:normal; padding-bottom:4px; }
    .order-flow-left, .order-flow-arrive, .order-flow-wait, .order-flow-right-arrive, .order-flow-right-wait{ margin:0; padding:0; background: url(order_speed.gif) no-repeat scroll 0 0; float:left; font-family:Arial; line-height:16px; text-align:center; width:140px; }
    .order-flow div span{ margin:0; padding:0; background:none repeat scroll 0 0 #fff; display:block;}
    .order-flow div span p{ margin:0; padding:0; }
    .order-flow .name { margin:0; padding:0 0 4px 0; }
    .order-flow-arrive { background-position: 0 -40px; }
    .order-flow-wait{ background-position:0 -20px; color:#878787; }
    .order-flow-right-arrive{ background-position: 0 -80px; }
    .order-flow-right-wait{ background-position:0 -60px; color:#878787; }
    .order-flow-input{ display:block; margin:2px auto; padding:0; width:18px; height:18px; text-indent:-999px; cursor:inherit; overflow:hidden;}

/*按钮样式*/
.td-input{ display:inline-block; padding:0 3px; border:1px solid #d7d7d7; width:92%; height:20px; line-height:18px; color:#666; font-size:12px; background:#fff; vertical-align:middle; }
.btn{ background:#16a0d3; border:none; color:#fff; cursor:pointer; display:inline-block; font-family:"Microsoft Yahei"; font-size:12px; height:32px; line-height:32px; margin:0 1px 0 0; padding:0 20px; }
	.btn:hover{ background:#117ea6; }
	.btn.green{ background:#52A152; }
	.btn.green:hover{ background:#328032; }
	.btn.yellow{ background:#FF9C30;}
	.btn.yellow:hover{ background:#c87316; }
	.btn.violet{ background:#993333 ; }
	.btn.violet:hover{ background:#990033; }
.icon-btn{ display:inline-block; margin:0; padding:4px 10px 4px 8px; line-height:20px; height:20px; border:solid 1px #e1e1e1; color:#333; font-size:12px; text-decoration:none; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; }
	.icon-btn:hover{ color:#2A72C5; }
	.icon-btn span{ display:inline-block; vertical-align:middle; }
	.icon-btn i{ display:inline-block; margin-right:3px; width:14px; height:14px; text-indent:-9999em; background:url(skin_icons.png) no-repeat; vertical-align:middle; *text-indent:0; }
	.icon-btn.add i{ background-position:0 -28px; }
.img-btn{ display:inline-block; margin:0px 2px; width:14px; height:14px; background:url(skin_icons.png) no-repeat; vertical-align:middle; white-space:nowrap; word-break:break-all; cursor:pointer; overflow:hidden; text-indent:-9999px; *text-indent:0; *font-size:0; }
	.img-btn.edit{ background-position:-140px -84px; }
	.img-btn.del{ background-position:-84px -28px; }
/*多项单选*/
.multi-radio{ display:inline-block; vertical-align:middle; *display:inline; }
	.multi-radio:after{ clear:both; content:"."; display:block; height:0; visibility:hidden; }
	.multi-radio .boxwrap{ display:inline-block; vertical-align:middle; *display:inline;}
	.multi-radio a{ display:inline-block; margin-right:-1px; float:left; padding:5px 15px; height:20px; line-height:20px; border:1px solid #eee; vertical-align:middle; color:#333; font-size:100%; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; }
	.multi-radio a:hover{ background:#C9E1EF; text-decoration:none; }
	.multi-radio a:active{ text-decoration:none; }
	.multi-radio a.selected{ background:#16a0d3; border-color:#1096c7; color:#fff; }
/*单项选择*/
.single-checkbox{ display:inline-block; vertical-align:middle; cursor:pointer; *display:inline; }
	.single-checkbox a,.single-checkbox a:visited{ display:inline-block; border:1px solid #d4d4d4; background:#d4d4d4; width:80px; vertical-align:middle; text-decoration:none; }
	.single-checkbox a i{ display:block; width:50%; height:28px; line-height:28px; font-style:normal; background:#fff; color:#333; text-align:center; }
	.single-checkbox a i.on{ float:right; display:none; }
	.single-checkbox a i.off{ float:left; display:block; }
	.single-checkbox a.selected{ border:1px solid #16a0d3; background:#16a0d3; }
	.single-checkbox a.selected i.on{ display:block; }
	.single-checkbox a.selected i.off{ display:none; }
/*多项选择*/
.multi-checkbox{ display:inline-block; vertical-align:middle; }
	.multi-checkbox:after{ clear:both; content:"."; display:block; height:0; visibility:hidden; }
	.multi-checkbox .boxwrap{ display:inline-block; vertical-align:middle; }
	.multi-checkbox a{ display:inline-block; float:left; margin-right:-1px; padding:5px 15px; height:20px; line-height:20px; border:1px solid #eee; vertical-align:middle; color:#333; font-size:100%; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; }
	.multi-checkbox a:hover{ background:#C9E1EF; text-decoration:none; }
	.multi-checkbox a:active{ text-decoration:none; }
	.multi-checkbox a.selected{ background:#16a0d3; border-color:#1096c7; color:#fff; }
	.multi-checkbox a:last-child{ /*border-right:1px solid #d4d4d4;*/ }
/*多项选择PORP*/
.multi-porp{ }
	.multi-porp ul li{ float:left; position:relative; margin:0 8px 8px 0; padding:1px; line-height:20px; vertical-align:middle; }
	.multi-porp ul li a{ display:block; padding:4px 10px; color:#666; min-width:10px; width:auto !important;  text-align:center; text-decoration:none; border:1px solid #eee; cursor:pointer; white-space:nowrap; text-overflow:ellipsis; }
	.multi-porp ul li i{ display:none; position:absolute; right:0; bottom:0; width:12px; height:12px; text-indent:-99em; background:url(skin_icons.png) -169px -85px no-repeat; overflow:hidden; }
	.multi-porp ul li.sys{ background:#FFFFD0; }
	.multi-porp ul li.selected a{ margin:-1px; color:#333; border:2px solid #1e99c7; }
	.multi-porp ul li.selected i{ display:block; background-position:-84px -196px; }
/*下拉菜单*/
.single-select{ position:relative; display:inline-block; margin-right:5px; vertical-align:middle; cursor:pointer; *float:left; }
	.single-select .boxwrap{ display:inline-block; vertical-align:middle; }
	.single-select .select-tit{ position:relative; display:block; padding:5px 38px 5px 10px; min-width:40px; line-height:20px; height:20px; border:solid 1px #eee; text-decoration:none; background:#fff; white-space:nowrap; word-break:break-all; }
	.single-select .select-tit span{ display:inline-block; color:#333; font-size:12px; vertical-align:middle; }
	.single-select .select-tit i{ position:absolute; right:0; top:0; display:block; width:28px; height:100%; border-left:1px solid #eee; background:url(skin_icons.png) 7px -189px no-repeat #fafafa; }
	.single-select .select-items{ display:none; position:absolute; left:0; top:45px; /*overflow:hidden;*/ }
	.single-select .select-items ul{ position:relative; padding:5px; min-width:120px; max-height:280px; border:1px solid #eee; background:#fff; overflow-y:auto; overflow-x:hidden; }
	.single-select .select-items ul li{ display:block; padding:4px 10px; line-height:20px; font-size:12px; color:#666; white-space:nowrap; cursor:pointer; }
	.single-select .select-items ul li:hover{ color:#fff; text-decoration:none; background:#16a0d3; }
	.single-select .select-items ul li.selected{ color:#fff; background:#16a0d3; }
	.single-select .arrow{ display:none; position:absolute; left:15px; top:35px; width:21px; height:11px; text-indent:-9999px; background:url(skin_icons.png) 0 -290px no-repeat; }
    .single-select.up .select-items{ top:auto; bottom:45px; }
    .single-select.up .arrow{ top:-13px; background:url(skin_icons.png) 0 -300px no-repeat; }

.page-footer{ padding:10px 0; height:32px; font-size:12px; }
	.page-footer .btn-wrap{ position:fixed; margin:0; padding:10px 0; top:auto; left:15px; right:15px; bottom:0; background:#fff; z-index:3; }
	.page-footer .btn-wrap:after{ clear:both;content:".";display:block;height:0;visibility:hidden; }
/* ==========================编辑页样式.结束======================== */
/*=====================以下部分是WebUploader必须的====================*/
.webuploader-container{ position:relative; }
.webuploader-element-invisible{ position:absolute !important; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px,1px,1px,1px); }
.webuploader-pick{ position:relative; display:inline-block; width:65px; line-height:30px; height:30px; border:1px solid #1ABC9C; cursor:pointer; background:#1ABC9C; color:#fff; text-align:center; overflow:hidden; zoom:1; *display:inline; }
.webuploader-pick-hover{ }
.webuploader-pick-disable{ opacity:0.6; pointer-events:none; }
/*=====================以上部分是WebUploader必须的====================*/