@charset "gb2312";
/* CSS Document */

* { margin: 0; padding: 0;}
html,body{margin: 0; padding: 0;}
body { font-size: 14px; font-family: "微软雅黑"; color: #333; background:#f9f9f9;}
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
img { border: none; }
a { text-decoration: none;color: #333;}
a:hover{ text-decoration:none;}
ul, ol { list-style: none; }
table {border-spacing: 0;border-collapse: collapse}
td, th {padding: 0}
input,option,select{font-family:"微软雅黑";}
.clr { clear: both; }
.ml40{margin-left:40px;}
.f16{font-size:16px;}
.lh28{line-height:28px;}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.clr_red{color:#f92221;}
.clr_yel{color:#ff8a00;}
.bo_left{border-left:5px solid #1abc9c;}
.bo_bot{border-bottom:1px solid #dddddd; padding-bottom:12px;}
.ck_div{ border:1px solid #dddddd; background:#FFF; margin:18px 42px 28px 42px;}
.tab_nav{ width:100%; border-bottom:1px solid #dddddd;  margin-top:10px;}
.tab_nav ul{list-style: none;}
.tab_nav li{float:left; font-size:16px;}
.tab_nav li a{ padding:0 15px; height:36px; display:block; text-align:center; margin-right:20px;}
.tab_nav li a:hover{ border-bottom:2px solid #1abc9c;  height:34px; color:#21abc9c;}
.tab_nav li.dq a{ border-bottom:2px solid #1abc9c;  height:34px; color:#1abc9c;}
.tsclass{color:red;}
.tab_con{padding:20px 0; background:#FFF}

.co_table{border:1px solid #dddddd; margin-bottom:20px; border-bottom:none; border-left:none; margin:0 20px 20px 20px; border-top:none;}

.co_btn{width:154px; margin:0 auto;}


.sc_in_group {margin-top:15px; width:auto;}
.sc_in_group .im{vertical-align:middle; margin:0px 6px 0 0; width:50px; height:46px;}
.sc_in_group label{font-weight:normal;  vertical-align: middle; text-align:right; width: 12.66666667%;display: inline-block; }

.sc_in_group label.tc01{width: 21.5%; }
.sc_in_group label.tc02{width: 35.66666667%;}
.sc_in_group label.tc03{width: 8.66666667%;}
.sc_in_group label.tc04{width: auto;}

.sc_in_group ul{list-style:none;}
.sc_in_group li{ width:100%; margin:15px 20px; height:22px; line-height:22px;}
.clo_lan{color:#1abc9c;}
.sc_in_group li span{float: left; margin:0 0 0 12px;}
.f_le{float:left; margin-top:0; width:20%;}
.f_le1{float:left; margin-top:0; width:240px;  height:32px; padding-top:2px;}
.f_le2{float:left; margin-top:0; width:35%;  }
.f_le3{float:left; margin-top:0; width:18%;}
.f_le4{float:left; margin-top:0; width:28%;}
.f_le5{float:left; margin-top:0; width:14%;}
.tl_bg{background:#f3f7ff; color:#2682e5; line-height:44px; height:44px; font-size:16px; padding-left:20px;}
.co_tl{border-left:#1abc9c 8px solid; color:#1abc9c; font-size:16px; padding-left:12px ; font-weight:bold; margin-left:20px;}
.co_con{ margin-bottom:20px;}
.sj_big{background:#ebfcf9;width:672px; height:416px; margin-left:22%; margin-top:20px; padding:12px 12px;}
.sj_sma{ border:10px solid #FFF; height:336px; padding:30px 30px;}


.co_con_big{border-bottom:1px solid #dddddd; padding:40px 0 40px 0;}

.ss_nr{ border-bottom:1px solid #dddddd; margin-bottom:20px; padding:0 20px 20px 20px;}
.bor_tl{ font-size:16px;  margin-left:20px; border-left:5px solid #1abc9c; padding-left:15px;}
/* 图标*/
.btn_kq{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  background-image: none;
  white-space: nowrap;
  line-height: 1.42857143;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn_tj{ border:1px solid #54c0ab; color:#54c0ab; background:#f1fffc; height:28px; line-height:26px; padding:0 12px;}
.btn_tj:hover{ background:#54c0ab; color:#fff;}

.btn_tj_tj{ border:1px solid #f37971; color:#fff; background:#f37971; height:28px; line-height:26px; padding:0 12px;}
.btn_tj_tj:hover{ background:#df675f; color:#fff;}

.btn_xg{color:#1abc9c; background:#fff url(../images/btn_xg_h.png) no-repeat 10px center;  text-align:center; width:20px; height:28px; margin:0 6px; line-height:28px; display:block; padding:0 16px 0 28px; float:left;}
.btn_xg:hover{ color:#FFF;background:#1abc9c url(../images/btn_xg.png) no-repeat 10px center;}

.btn_sc{color:#ffa200; background:#fff url(../images/btn_sc_h.png) no-repeat 10px center;  text-align:center; width:20px; height:28px; margin:0 6px; line-height:28px; display:block; padding:0 16px 0 28px;float:left;}
.btn_sc:hover{ color:#FFF;background:#ffa200 url(../images/btn_sc.png) no-repeat 10px center;}

.btn_zd{ border:1px solid #2682e5; color:#fff; background:#2682e5; line-height:30px;   padding:0 15px;}
.btn_zd:hover{ color:#FFF;background:#2378d2;}

.btn_qx{ border:1px solid #d0d0d0; color:#2682e5; background:#fff; line-height:30px;   padding:0 15px;}
.btn_qx:hover{background:#e7e6e6;}

.btn_sea{ border:1px solid #1abc9c; color:#fff; background:#1abc9c; line-height:30px;   padding:0 20px;}
.btn_sea:hover{ color:#FFF;background:#18b394;}

.btn_seb{ border:1px solid #1abc9c; color:#fff; background:#1abc9c; line-height:28px;   padding:0 12px;}
.btn_seb:hover{ color:#FFF;background:#18b394;}

.btn_sc_x{ background:url(../../Content/img/sc_x.png); display:block; width:22px; height:22px;}
.btn_sc:hover{ background:url(../../Content/img/sc_x_h.png);}



/*表单*/
.input-ss {
  padding: 5px 6px;
  font-size: 14px;
  color: #999999;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #c0c0c0;
  vertical-align:middle;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-ss:focus {
  border-color: #66afe9;
  color: #555;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #ccc;
}
.form-control::-webkit-input-placeholder {
  color: #ccc;
}

.in-u-s-1{ width: 15.8%;}
.in-u-s-2{ width: 65%;}
.in-u-s-3{ width: 62%;}
.in-u-s-4{ width: 30%;}
.in-u-s-5{ width: 12.5%;}
.in-u-s-6{ width: 13.5%;}
.in-u-s-7{ width: 20%;}
.in-u-s-8{ width: 100%;}
.in-u-s-9{ width: 28%;}
.in-u-s-10{ width: 78%;}
.in-u-s-11{ width: 10%;}
.in-u-s-12{ width: 35%;}


.inpu_text{padding:0 2px; line-height:30px; height:32px; vertical-align: middle;}
.inpu_ta{padding:0 6px; line-height:22px; padding:6px 6px; vertical-align: middle;}




/*表格*/

table {
    background-color: transparent
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left
}

th {
    text-align: left;
	background:#eeeeee;
	vertical-align:middle;
}
td {
    text-align: left;
}
.mi{
    text-align: center;
}
.bh{white-space: nowrap;
}
.bb_q{border-left: 1px solid #ddd;border-right: 1px solid #ddd;}
.table{
    width: 100%;
    max-width: 100%;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding:6px 8px;
    line-height: 1.42857143;
    vertical-align: middle;
	border-left:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	border-top:1px solid #dddddd;
	text-align:center;
	vertical-align:middle
}
.bd_top{border-top:1px solid #dddddd}



.table > tbody > tr > th,.table > tfoot > tr > th,.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom:  none;
	padding:10px 8px;
	vertical-align:middle
}


.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    border-top: 0
}

.table > tbody + tbody {
    border-top: 2px solid #e7eefe
}

.table .table {
    background-color: #fff
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 5px
}

.table-bordered {
    border: 1px solid #e7eefe
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #e7eefe
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom-width: 2px
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.table-hover > tbody > tr:hover {
    background-color: #f5f5f5
}

table col[class*=col-] {
    position: static;
    display: table-column;
    float: none
}

table td[class*=col-], table th[class*=col-] {
    position: static;
    display: table-cell;
    float: none
}

.table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > thead > tr > td.active, .table > thead > tr > th.active {
    background-color: #f5f5f5
}

.table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > th, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover {
    background-color: #e8e8e8
}

.table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tbody > tr > td.success, .table > tbody > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th, .table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th, .table > thead > tr > td.success, .table > thead > tr > th.success {
    background-color: #dff0d8
}

.table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr.success:hover > th, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover {
    background-color: #d0e9c6
}

.table > tbody > tr.info > td, .table > tbody > tr.info > th, .table > tbody > tr > td.info, .table > tbody > tr > th.info, .table > tfoot > tr.info > td, .table > tfoot > tr.info > th, .table > tfoot > tr > td.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th, .table > thead > tr > td.info, .table > thead > tr > th.info {
    background-color: #d9edf7
}


.table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr.info:hover > th, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover {
    background-color: #c4e3f3
}

.table > tbody > tr.warning > td, .table > tbody > tr.warning > th, .table > tbody > tr > td.warning, .table > tbody > tr > th.warning, .table > tfoot > tr.warning > td, .table > tfoot > tr.warning > th, .table > tfoot > tr > td.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > thead > tr.warning > th, .table > thead > tr > td.warning, .table > thead > tr > th.warning {
    background-color: #fcf8e3
}

.table-hover > tbody > tr.warning:hover > td, .table-hover > tbody > tr.warning:hover > th, .table-hover > tbody > tr:hover > .warning, .table-hover > tbody > tr > td.warning:hover, .table-hover > tbody > tr > th.warning:hover {
    background-color: #faf2cc
}

.table > tbody > tr.danger > td, .table > tbody > tr.danger > th, .table > tbody > tr > td.danger, .table > tbody > tr > th.danger, .table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th, .table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th, .table > thead > tr > td.danger, .table > thead > tr > th.danger {
    background-color: #f2dede
}

.table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr.danger:hover > th, .table-hover > tbody > tr:hover > .danger, .table-hover > tbody > tr > td.danger:hover, .table-hover > tbody > tr > th.danger:hover {
    background-color: #ebcccc
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto
}
.bd_left{ text-align:left; color:#666;}