<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wt.overflow.dao.SysItemsDetailMapper" >
  <resultMap id="BaseResultMap" type="com.wt.overflow.bean.SysItemsdetail" >
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="itemId" jdbcType="VARCHAR" property="itemid" />
    <result column="parentId" jdbcType="VARCHAR" property="parentid" />
    <result column="itemCode" jdbcType="VARCHAR" property="itemcode" />
    <result column="itemName" jdbcType="VARCHAR" property="itemname" />
    <result column="simpleSpelling" jdbcType="VARCHAR" property="simplespelling" />
    <result column="isDefault" jdbcType="INTEGER" property="isdefault" />
    <result column="layers" jdbcType="INTEGER" property="layers" />
    <result column="sortCode" jdbcType="INTEGER" property="sortcode" />
    <result column="enabledMark" jdbcType="INTEGER" property="enabledmark" />
    <result column="enabledDelete" jdbcType="INTEGER" property="enableddelete" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="deleteMark" jdbcType="INTEGER" property="deletemark" />
    <result column="creatorTime" jdbcType="TIMESTAMP" property="creatortime" />
    <result column="creatorUserId" jdbcType="VARCHAR" property="creatoruserid" />
    <result column="lastModifyTime" jdbcType="TIMESTAMP" property="lastmodifytime" />
    <result column="lastModifyUserId" jdbcType="VARCHAR" property="lastmodifyuserid" />
    <result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="deleteUserId" jdbcType="VARCHAR" property="deleteuserid" />
  </resultMap>
  
   <sql id="Base_Column_List" >
      id, itemId, parentId, itemCode, itemName, simpleSpelling, isDefault, layers, sortCode,
    enabledMark, enabledDelete, description, deleteMark, creatorTime, creatorUserId,
    lastModifyTime, lastModifyUserId, deleteTime, deleteUserId
  </sql>
  
  
  <update id="deleteItemsDetailByFId" parameterType="java.util.Map">
		update sys_itemsdetail
		set deleteMark  = 1,deleteUserId =#{deleteUserId,jdbcType=VARCHAR} ,
		deleteTime =#{deleteTime,jdbcType=TIMESTAMP}
		where id=#{itemsId,jdbcType=VARCHAR}
  </update>
  
   <select id="queryOneByFId" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_itemsdetail where deleteMark = 0 and  F_Id= #{keyword,jdbcType=VARCHAR}
  </select> 
  
  <select id="queryAllData" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_itemsdetail where deleteMark = 0
  </select> 
  
  <select id="queryMainRole" resultMap="BaseResultMap" parameterType="java.util.Map" >
  	SELECT   d.id, d.itemId, d.parentId,
      d.itemCode, d.itemName, d.simpleSpelling,
      d.isDefault, d.layers, d.sortCode,
      d.deleteMark, d.enabledMark, d.description,
      d.creatorTime, d.creatorUserId, d.lastModifyTime,
     d.lastModifyUserId, d.deleteTime, d.deleteUserId
	
	FROM   sys_itemsdetail d INNER  JOIN sys_Items i ON i.id = d.itemId
		WHERE   1 = 1 AND i.enCode = 'RoleType' AND d.enabledMark = 1 AND d.deleteMark = 0
	ORDER BY d.sortCode ASC
  </select> 
  
  
  <select id="queryAllDataByPage" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
 	<include refid="Base_Column_List" />
    from sys_itemsdetail 
    <where>
    	deleteMark = 0 and itemId = #{itemId,jdbcType=VARCHAR}
    	<if test="keyword != null and keyword !='' ">
				 and (itemName like ('%'+#{keyword}+'%') or itemCode like
				('%'+#{keyword}+'%') )
		</if>
		
    </where>
    <if test=" sidx!=null and sidx!='' ">
	   order by  ${sidx}  ${sord} 
   </if>
  </select>
  
  
  <insert id="addSysItemsDetail" parameterType="com.wt.overflow.bean.SysItemsdetail" >
    insert into sys_itemsdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        F_Id,
      </if>
      <if test="fItemid != null" >
        F_ItemId,
      </if>
      <if test="fParentid != null" >
        F_ParentId,
      </if>
      <if test="fItemcode != null" >
        F_ItemCode,
      </if>
      <if test="fItemname != null" >
        F_ItemName,
      </if>
      <if test="fSimplespelling != null" >
        F_SimpleSpelling,
      </if>
      <if test="fIsdefault != null" >
        F_IsDefault,
      </if>
      <if test="fLayers != null" >
        F_Layers,
      </if>
      <if test="fSortcode != null" >
        F_SortCode,
      </if>
      <if test="fEnabledmark != null" >
        F_EnabledMark,
      </if>
      <if test="fDescription != null" >
        F_Description,
      </if>
      <if test="fDeletemark != null" >
        F_DeleteMark,
      </if>
      <if test="fCreatortime != null" >
        F_CreatorTime,
      </if>
      <if test="fCreatoruserid != null" >
        F_CreatorUserId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fId != null" >
        #{fId,jdbcType=VARCHAR},
      </if>
      <if test="fItemid != null" >
        #{fItemid,jdbcType=VARCHAR},
      </if>
      <if test="fParentid != null" >
        #{fParentid,jdbcType=VARCHAR},
      </if>
      <if test="fItemcode != null" >
        #{fItemcode,jdbcType=VARCHAR},
      </if>
      <if test="fItemname != null" >
        #{fItemname,jdbcType=VARCHAR},
      </if>
      <if test="fSimplespelling != null" >
        #{fSimplespelling,jdbcType=VARCHAR},
      </if>
      <if test="fIsdefault != null" >
        #{fIsdefault,jdbcType=BIT},
      </if>
      <if test="fLayers != null" >
        #{fLayers,jdbcType=INTEGER},
      </if>
      <if test="fSortcode != null" >
        #{fSortcode,jdbcType=INTEGER},
      </if>
      <if test="fEnabledmark != null" >
        #{fEnabledmark,jdbcType=BIT},
      </if>
      <if test="fDescription != null" >
        #{fDescription,jdbcType=VARCHAR},
      </if>
      <if test="fDeletemark != null" >
        #{fDeletemark,jdbcType=TIMESTAMP},
      </if>
      
      
      <if test="fCreatortime != null" >
        #{fCreatortime,jdbcType=TIMESTAMP},
      </if>
      <if test="fCreatoruserid != null" >
        #{fCreatoruserid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateItemsDetail" parameterType="com.wt.overflow.bean.SysItemsdetail" >
    update sys_itemsdetail
    <set >
      <if test="fItemcode != null" >
        F_ItemCode = #{fItemcode,jdbcType=VARCHAR},
      </if>
      <if test="fItemname != null" >
        F_ItemName = #{fItemname,jdbcType=VARCHAR},
      </if>
      <if test="fSimplespelling != null" >
        F_SimpleSpelling = #{fSimplespelling,jdbcType=VARCHAR},
      </if>
      <if test="fIsdefault != null" >
        F_IsDefault = #{fIsdefault,jdbcType=BIT},
      </if>
      <if test="fLayers != null" >
        F_Layers = #{fLayers,jdbcType=INTEGER},
      </if>
      <if test="fSortcode != null" >
        F_SortCode = #{fSortcode,jdbcType=INTEGER},
      </if>
      <if test="fEnabledmark != null" >
        F_EnabledMark = #{fEnabledmark,jdbcType=BIT},
      </if>
      <if test="fDescription != null" >
        F_Description = #{fDescription,jdbcType=VARCHAR},
      </if>
      <if test="fLastmodifytime != null" >
        F_LastModifyTime = #{fLastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="fLastmodifyuserid != null" >
        F_LastModifyUserId = #{fLastmodifyuserid,jdbcType=VARCHAR},
      </if>
    </set>
    where F_Id = #{fId,jdbcType=VARCHAR}
  </update>
  
  <select id="getSelectJson" resultType="java.util.Map" parameterType="java.lang.String" >
 	SELECT  d.F_Id,d.F_ItemName
       FROM    sys_itemsdetail d
       INNER  JOIN Sys_Items i ON i.F_Id = d.F_ItemId
       WHERE   1 = 1
      <if test="enCode != null and '' != enCode ">
      	AND i.F_EnCode = #{enCode}
      </if>
       AND d.F_EnabledMark = 1
       AND d.F_DeleteMark = 0
       ORDER BY d.F_SortCode ASC
  </select> 
</mapper>