<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wt.overflow.dao.SysModuleButtonMapper" >
  <resultMap id="BaseResultMap" type="com.wt.overflow.bean.SysModuleButton" >
    <result column="F_Id" property="fId" jdbcType="VARCHAR" />
    <result column="F_ModuleId" property="fModuleid" jdbcType="VARCHAR" />
    <result column="F_ParentId" property="fParentid" jdbcType="VARCHAR" />
    <result column="F_Layers" property="fLayers" jdbcType="INTEGER" />
    <result column="F_EnCode" property="fEncode" jdbcType="VARCHAR" />
    <result column="F_FullName" property="fFullname" jdbcType="VARCHAR" />
    <result column="F_Icon" property="fIcon" jdbcType="VARCHAR" />
    <result column="F_Location" property="fLocation" jdbcType="INTEGER" />
    <result column="F_JsEvent" property="fJsevent" jdbcType="VARCHAR" />
    <result column="F_UrlAddress" property="fUrladdress" jdbcType="VARCHAR" />
    <result column="F_Split" property="fSplit" jdbcType="BIT" />
    <result column="F_IsPublic" property="fIspublic" jdbcType="BIT" />
    <result column="F_AllowEdit" property="fAllowedit" jdbcType="BIT" />
    <result column="F_AllowDelete" property="fAllowdelete" jdbcType="BIT" />
    <result column="F_SortCode" property="fSortcode" jdbcType="INTEGER" />
    <result column="F_DeleteMark" property="fDeletemark" jdbcType="BIT" />
    <result column="F_EnabledMark" property="fEnabledmark" jdbcType="BIT" />
    <result column="F_Description" property="fDescription" jdbcType="VARCHAR" />
    <result column="F_CreatorTime" property="fCreatortime" jdbcType="TIMESTAMP" />
    <result column="F_CreatorUserId" property="fCreatoruserid" jdbcType="VARCHAR" />
    <result column="F_LastModifyTime" property="fLastmodifytime" jdbcType="TIMESTAMP" />
    <result column="F_LastModifyUserId" property="fLastmodifyuserid" jdbcType="VARCHAR" />
    <result column="F_DeleteTime" property="fDeletetime" jdbcType="TIMESTAMP" />
    <result column="F_DeleteUserId" property="fDeleteuserid" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <sql id="Base_Column_List" >
      F_Id, F_ModuleId, F_ParentId, 
      F_Layers, F_EnCode, F_FullName, 
      F_Icon, F_Location, F_JsEvent, 
      F_UrlAddress, F_Split, F_IsPublic, 
      F_AllowEdit, F_AllowDelete, F_SortCode, 
      F_DeleteMark, F_EnabledMark, F_Description, 
      F_CreatorTime, F_CreatorUserId, F_LastModifyTime, 
      F_LastModifyUserId, F_DeleteTime, F_DeleteUserId
  </sql>
  
  <select id="queryAllAuthorizeButtonform" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from Sys_Modulebutton 
    <where>
    	F_DeleteMark =0
    	<if test=" F_EnabledMark!=null and F_EnabledMark != '' " >
	      	and F_EnabledMark = 1
		</if>
    	<if test="isAdmin != 1" ><!-- 非admin用户 <if test="isAdmin" > -->
      		and F_Id in (
				select F_ObjectId from Sys_RoleAuthorize where F_ObjectId =  #{userRoleId,jdbcType=VARCHAR} and F_ItemType=1
			)
    	</if>
    </where>
  </select> 
  
  <select id="queryAllData" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from Sys_Modulebutton
  </select> 
  
  
</mapper>