<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wt.overflow.dao.SysModuleMapper" >
  <resultMap id="BaseResultMap" type="com.wt.overflow.bean.SysModule" >
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parentId" jdbcType="VARCHAR" property="parentid" />
    <result column="layers" jdbcType="INTEGER" property="layers" />
    <result column="enCode" jdbcType="VARCHAR" property="encode" />
    <result column="fullName" jdbcType="VARCHAR" property="fullname" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="urlAddress" jdbcType="VARCHAR" property="urladdress" />
    <result column="target" jdbcType="VARCHAR" property="target" />
    <result column="isMenu" jdbcType="INTEGER" property="ismenu" />
    <result column="isExpand" jdbcType="INTEGER" property="isexpand" />
    <result column="isPublic" jdbcType="INTEGER" property="ispublic" />
    <result column="allowEdit" jdbcType="INTEGER" property="allowedit" />
    <result column="allowDelete" jdbcType="INTEGER" property="allowdelete" />
    <result column="sortCode" jdbcType="INTEGER" property="sortcode" />
    <result column="deleteMark" jdbcType="INTEGER" property="deletemark" />
    <result column="enabledMark" jdbcType="INTEGER" property="enabledmark" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="creatorTime" jdbcType="TIMESTAMP" property="creatortime" />
    <result column="creatorUserId" jdbcType="VARCHAR" property="creatoruserid" />
    <result column="lastModifyTime" jdbcType="TIMESTAMP" property="lastmodifytime" />
    <result column="lastModifyUserId" jdbcType="VARCHAR" property="lastmodifyuserid" />
    <result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="deleteUserId" jdbcType="VARCHAR" property="deleteuserid" />
  </resultMap>
  
  <resultMap id="modulesMap" type="com.wt.overflow.bean.SysModules">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parentId" jdbcType="VARCHAR" property="parentid" />
    <result column="layers" jdbcType="INTEGER" property="layers" />
    <result column="enCode" jdbcType="VARCHAR" property="encode" />
    <result column="fullName" jdbcType="VARCHAR" property="fullname" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="urlAddress" jdbcType="VARCHAR" property="urladdress" />
    <result column="target" jdbcType="VARCHAR" property="target" />
    <result column="isMenu" jdbcType="INTEGER" property="ismenu" />
    <result column="isExpand" jdbcType="INTEGER" property="isexpand" />
    <result column="isPublic" jdbcType="INTEGER" property="ispublic" />
    <result column="allowEdit" jdbcType="INTEGER" property="allowedit" />
    <result column="allowDelete" jdbcType="INTEGER" property="allowdelete" />
    <result column="sortCode" jdbcType="INTEGER" property="sortcode" />
    <result column="deleteMark" jdbcType="INTEGER" property="deletemark" />
    <result column="enabledMark" jdbcType="INTEGER" property="enabledmark" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="creatorTime" jdbcType="TIMESTAMP" property="creatortime" />
    <result column="creatorUserId" jdbcType="VARCHAR" property="creatoruserid" />
    <result column="lastModifyTime" jdbcType="TIMESTAMP" property="lastmodifytime" />
    <result column="lastModifyUserId" jdbcType="VARCHAR" property="lastmodifyuserid" />
    <result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="deleteUserId" jdbcType="VARCHAR" property="deleteuserid" />
  </resultMap>
  
  <sql id="Base_Column_List" >
      id, parentId, layers,
      enCode, fullName, icon,
      urlAddress, target, isMenu,
      isExpand, isPublic, allowEdit,
      allowDelete, sortCode, deleteMark,
      enabledMark, description, creatorTime,
      creatorUserId, lastModifyTime, lastModifyUserId,
      deleteTime, deleteUserId
  </sql>
  
  
  <select id="queryAllData" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_module
  </select> 
  
  
  <select id="SelectByfParentid" parameterType="java.lang.String"
		resultMap="BaseResultMap">
    select  *
    from  sys_module  where parentid=#{parentid,jdbcType=VARCHAR} and deleteMark !=1
  </select>
  
  <select id="findListParentid" resultMap="modulesMap" parameterType="java.lang.String">
    select * from sys_module where parentId=#{parentId,jdbcType=VARCHAR} and deleteMark != 1 ORDER BY sortCode ASC
  </select>
  
  <select id="findListFullName" resultMap="modulesMap" parameterType="java.lang.String" >
      select  <include refid="Base_Column_List" />
      from sys_module where deleteMark != 1 and parentId='0' ORDER BY sortCode ASC
  </select>
  
  
  <select id="queryAllSysModuleByIsAdmin" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_module
    <where>
    	parentId Is not null and deleteMark =0
    	<if test=" enabledMark!=null and enabledMark != '' " >
	      	and enabledMark = 1
	    </if>
	    <if test="isAdmin != 1" >
	      	and id in (
				select itemId from sys_roleauthorize where objectId =  #{userRoleId,jdbcType=VARCHAR} and itemType=1
			)
	    </if>
    </where>
    
    
  </select> 
  
     <select id="findListPage" resultMap="modulesMap" parameterType="java.util.Map">
    select 
     <include refid="Base_Column_List" />
    from sys_module where F_DeleteMark is null or F_DeleteMark =0
     <if test="fFullname != null and fFullname != '' ">
    RIGHT JOIN
	(select
      F_Id f, F_ParentId f1
    from sys_module where F_FullName like '%${fFullname,jdbcType=VARCHAR}%') as a on Sys_Module.F_SortCode=a.f or Sys_Module.F_SortCode=a.f1 where Sys_Module.F_DeleteMark is null or Sys_Module.F_DeleteMark =0
    group by 
     <include refid="Base_Column_List" />
     </if>
  </select>
  
   
  
  
  
  
   <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_module
    where F_Id = #{fId,jdbcType=VARCHAR} and  F_DeleteMark =0
  </select>
  
    <insert id="insertModule" parameterType="com.wt.overflow.bean.SysModule" >
    insert into sys_Module (F_Id, F_ParentId, F_Layers,
      F_EnCode, F_FullName, F_Icon, 
      F_UrlAddress, F_Target, F_IsMenu, 
      F_IsExpand, F_IsPublic, F_AllowEdit, 
      F_AllowDelete, F_SortCode, F_DeleteMark, 
      F_EnabledMark, F_Description, F_CreatorTime, 
      F_CreatorUserId, F_LastModifyTime, F_LastModifyUserId, 
      F_DeleteTime, F_DeleteUserId)
    values (#{fId,jdbcType=VARCHAR}, #{fParentid,jdbcType=VARCHAR}, #{fLayers,jdbcType=INTEGER}, 
      #{fEncode,jdbcType=VARCHAR}, #{fFullname,jdbcType=VARCHAR}, #{fIcon,jdbcType=VARCHAR}, 
      #{fUrladdress,jdbcType=VARCHAR}, #{fTarget,jdbcType=VARCHAR}, #{fIsmenu,jdbcType=BIT}, 
      #{fIsexpand,jdbcType=BIT}, #{fIspublic,jdbcType=BIT}, #{fAllowedit,jdbcType=BIT}, 
      #{fAllowdelete,jdbcType=BIT}, #{fSortcode,jdbcType=INTEGER}, #{fDeletemark,jdbcType=TINYINT}, 
      #{fEnabledmark,jdbcType=BIT}, #{fDescription,jdbcType=VARCHAR}, #{fCreatortime,jdbcType=TIMESTAMP}, 
      #{fCreatoruserid,jdbcType=VARCHAR}, #{fLastmodifytime,jdbcType=TIMESTAMP}, #{fLastmodifyuserid,jdbcType=VARCHAR}, 
      #{fDeletetime,jdbcType=TIMESTAMP}, #{fDeleteuserid,jdbcType=VARCHAR})
  </insert>
  
  
  <update id="deleteByModuleKey" parameterType="com.wt.overflow.bean.SysModule" >
    update sys_module
    <set >
      <if test="fParentid != null" >
        F_ParentId = #{fParentid,jdbcType=VARCHAR},
      </if>
      <if test="fLayers != null" >
        F_Layers = #{fLayers,jdbcType=INTEGER},
      </if>
      <if test="fEncode != null" >
        F_EnCode = #{fEncode,jdbcType=VARCHAR},
      </if>
      <if test="fFullname != null" >
        F_FullName = #{fFullname,jdbcType=VARCHAR},
      </if>
      <if test="fIcon != null" >
        F_Icon = #{fIcon,jdbcType=VARCHAR},
      </if>
      <if test="fUrladdress != null" >
        F_UrlAddress = #{fUrladdress,jdbcType=VARCHAR},
      </if>
      <if test="fTarget != null" >
        F_Target = #{fTarget,jdbcType=VARCHAR},
      </if>
      <if test="fIsmenu != null" >
        F_IsMenu = #{fIsmenu,jdbcType=BIT},
      </if>
      <if test="fIsexpand != null" >
        F_IsExpand = #{fIsexpand,jdbcType=BIT},
      </if>
      <if test="fIspublic != null" >
        F_IsPublic = #{fIspublic,jdbcType=BIT},
      </if>
      <if test="fAllowedit != null" >
        F_AllowEdit = #{fAllowedit,jdbcType=BIT},
      </if>
      <if test="fAllowdelete != null" >
        F_AllowDelete = #{fAllowdelete,jdbcType=BIT},
      </if>
      <if test="fSortcode != null" >
        F_SortCode = #{fSortcode,jdbcType=INTEGER},
      </if>
      <if test="fDeletemark != null" >
        F_DeleteMark = #{fDeletemark,jdbcType=TINYINT},
      </if>
      <if test="fEnabledmark != null" >
        F_EnabledMark = #{fEnabledmark,jdbcType=BIT},
      </if>
      <if test="fDescription != null" >
        F_Description = #{fDescription,jdbcType=VARCHAR},
      </if>
      <if test="fCreatortime != null" >
        F_CreatorTime = #{fCreatortime,jdbcType=TIMESTAMP},
      </if>
      <if test="fCreatoruserid != null" >
        F_CreatorUserId = #{fCreatoruserid,jdbcType=VARCHAR},
      </if>
      <if test="fLastmodifytime != null" >
        F_LastModifyTime = #{fLastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="fLastmodifyuserid != null" >
        F_LastModifyUserId = #{fLastmodifyuserid,jdbcType=VARCHAR},
      </if>
      <if test="fDeletetime != null" >
        F_DeleteTime = #{fDeletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="fDeleteuserid != null" >
        F_DeleteUserId = #{fDeleteuserid,jdbcType=VARCHAR},
      </if>
    </set>
    where F_Id = #{fId,jdbcType=VARCHAR}
  </update>
  
  
   <update id="updateByPrimaryKeySelective" parameterType="com.wt.overflow.bean.SysModule" >
    update sys_module
    <set >
      <if test="fParentid != null" >
        F_ParentId = #{fParentid,jdbcType=VARCHAR},
      </if>
      <if test="fLayers != null" >
        F_Layers = #{fLayers,jdbcType=INTEGER},
      </if>
      <if test="fEncode != null" >
        F_EnCode = #{fEncode,jdbcType=VARCHAR},
      </if>
      <if test="fFullname != null" >
        F_FullName = #{fFullname,jdbcType=VARCHAR},
      </if>
      <if test="fIcon != null" >
        F_Icon = #{fIcon,jdbcType=VARCHAR},
      </if>
      <if test="fUrladdress != null" >
        F_UrlAddress = #{fUrladdress,jdbcType=VARCHAR},
      </if>
      <if test="fTarget != null" >
        F_Target = #{fTarget,jdbcType=VARCHAR},
      </if>
      <if test="fIsmenu != null" >
        F_IsMenu = #{fIsmenu,jdbcType=BIT},
      </if>
      <if test="fIsexpand != null" >
        F_IsExpand = #{fIsexpand,jdbcType=BIT},
      </if>
      <if test="fIspublic != null" >
        F_IsPublic = #{fIspublic,jdbcType=BIT},
      </if>
      <if test="fAllowedit != null" >
        F_AllowEdit = #{fAllowedit,jdbcType=BIT},
      </if>
      <if test="fAllowdelete != null" >
        F_AllowDelete = #{fAllowdelete,jdbcType=BIT},
      </if>
      <if test="fSortcode != null" >
        F_SortCode = #{fSortcode,jdbcType=INTEGER},
      </if>
      <if test="fDeletemark != null" >
        F_DeleteMark = #{fDeletemark,jdbcType=TINYINT},
      </if>
      <if test="fEnabledmark != null" >
        F_EnabledMark = #{fEnabledmark,jdbcType=BIT},
      </if>
      <if test="fDescription != null" >
        F_Description = #{fDescription,jdbcType=VARCHAR},
      </if>
      <if test="fCreatortime != null" >
        F_CreatorTime = #{fCreatortime,jdbcType=TIMESTAMP},
      </if>
      <if test="fCreatoruserid != null" >
        F_CreatorUserId = #{fCreatoruserid,jdbcType=VARCHAR},
      </if>
      <if test="fLastmodifytime != null" >
        F_LastModifyTime = #{fLastmodifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="fLastmodifyuserid != null" >
        F_LastModifyUserId = #{fLastmodifyuserid,jdbcType=VARCHAR},
      </if>
      <if test="fDeletetime != null" >
        F_DeleteTime = #{fDeletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="fDeleteuserid != null" >
        F_DeleteUserId = #{fDeleteuserid,jdbcType=VARCHAR},
      </if>
    </set>
    where F_Id = #{fId,jdbcType=VARCHAR}
  </update>
  
  
</mapper>