<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wt.overflow.dao.SysModuleMapper" >
  <resultMap id="BaseResultMap" type="com.wt.overflow.bean.SysModule" >
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parentId" jdbcType="VARCHAR" property="parentid" />
    <result column="layers" jdbcType="INTEGER" property="layers" />
    <result column="enCode" jdbcType="VARCHAR" property="encode" />
    <result column="fullName" jdbcType="VARCHAR" property="fullname" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="urlAddress" jdbcType="VARCHAR" property="urladdress" />
    <result column="target" jdbcType="VARCHAR" property="target" />
    <result column="isMenu" jdbcType="INTEGER" property="ismenu" />
    <result column="isExpand" jdbcType="INTEGER" property="isexpand" />
    <result column="isPublic" jdbcType="INTEGER" property="ispublic" />
    <result column="allowEdit" jdbcType="INTEGER" property="allowedit" />
    <result column="allowDelete" jdbcType="INTEGER" property="allowdelete" />
    <result column="sortCode" jdbcType="INTEGER" property="sortcode" />
    <result column="deleteMark" jdbcType="INTEGER" property="deletemark" />
    <result column="enabledMark" jdbcType="INTEGER" property="enabledmark" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="creatorTime" jdbcType="TIMESTAMP" property="creatortime" />
    <result column="creatorUserId" jdbcType="VARCHAR" property="creatoruserid" />
    <result column="lastModifyTime" jdbcType="TIMESTAMP" property="lastmodifytime" />
    <result column="lastModifyUserId" jdbcType="VARCHAR" property="lastmodifyuserid" />
    <result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="deleteUserId" jdbcType="VARCHAR" property="deleteuserid" />
  </resultMap>
  
  <resultMap id="modulesMap" type="com.wt.overflow.bean.SysModules">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parentId" jdbcType="VARCHAR" property="parentid" />
    <result column="layers" jdbcType="INTEGER" property="layers" />
    <result column="enCode" jdbcType="VARCHAR" property="encode" />
    <result column="fullName" jdbcType="VARCHAR" property="fullname" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="urlAddress" jdbcType="VARCHAR" property="urladdress" />
    <result column="target" jdbcType="VARCHAR" property="target" />
    <result column="isMenu" jdbcType="INTEGER" property="ismenu" />
    <result column="isExpand" jdbcType="INTEGER" property="isexpand" />
    <result column="isPublic" jdbcType="INTEGER" property="ispublic" />
    <result column="allowEdit" jdbcType="INTEGER" property="allowedit" />
    <result column="allowDelete" jdbcType="INTEGER" property="allowdelete" />
    <result column="sortCode" jdbcType="INTEGER" property="sortcode" />
    <result column="deleteMark" jdbcType="INTEGER" property="deletemark" />
    <result column="enabledMark" jdbcType="INTEGER" property="enabledmark" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="creatorTime" jdbcType="TIMESTAMP" property="creatortime" />
    <result column="creatorUserId" jdbcType="VARCHAR" property="creatoruserid" />
    <result column="lastModifyTime" jdbcType="TIMESTAMP" property="lastmodifytime" />
    <result column="lastModifyUserId" jdbcType="VARCHAR" property="lastmodifyuserid" />
    <result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="deleteUserId" jdbcType="VARCHAR" property="deleteuserid" />
  </resultMap>
  
  <sql id="Base_Column_List" >
      id, parentId, layers,
      enCode, fullName, icon,
      urlAddress, target, isMenu,
      isExpand, isPublic, allowEdit,
      allowDelete, sortCode, deleteMark,
      enabledMark, description, creatorTime,
      creatorUserId, lastModifyTime, lastModifyUserId,
      deleteTime, deleteUserId
  </sql>
  
  
  <select id="queryAllData" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_module
  </select> 
  
  
  <select id="SelectByfParentid" parameterType="java.lang.String"
		resultMap="BaseResultMap">
    select  *
    from  sys_module  where parentid=#{parentid,jdbcType=VARCHAR} and deleteMark !=1
  </select>
  
  <select id="findListParentid" resultMap="modulesMap" parameterType="java.lang.String">
    select * from sys_module where parentId=#{parentId,jdbcType=VARCHAR} and deleteMark != 1 ORDER BY sortCode ASC
  </select>
  
  <select id="findListFullName" resultMap="modulesMap" parameterType="java.lang.String" >
      select  <include refid="Base_Column_List" />
      from sys_module where deleteMark != 1 and parentId='0' ORDER BY sortCode ASC
  </select>
  
  
  <select id="queryAllSysModuleByIsAdmin" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_module
    <where>
    	parentId Is not null and deleteMark =0
    	<if test=" enabledMark!=null and enabledMark != '' " >
	      	and enabledMark = 1
	    </if>
	    <if test="isAdmin != 1" >
	      	and id in (
				select itemId from sys_roleauthorize where objectId =  #{userRoleId,jdbcType=VARCHAR} and itemType=1
			)
	    </if>
    </where>
    
    
  </select> 
  
     <select id="findListPage" resultMap="modulesMap" parameterType="java.util.Map">
    select 
     <include refid="Base_Column_List" />
    from sys_module where F_DeleteMark is null or F_DeleteMark =0
     <if test="fFullname != null and fFullname != '' ">
    RIGHT JOIN
	(select
      F_Id f, F_ParentId f1
    from sys_module where F_FullName like '%${fFullname,jdbcType=VARCHAR}%') as a on Sys_Module.F_SortCode=a.f or Sys_Module.F_SortCode=a.f1 where Sys_Module.F_DeleteMark is null or Sys_Module.F_DeleteMark =0
    group by 
     <include refid="Base_Column_List" />
     </if>
  </select>

</mapper>