<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wt.overflow.dao.SysRoleMapper">
	<resultMap id="BaseResultMap" type="com.wt.overflow.bean.SysRole">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="organizeId" jdbcType="VARCHAR" property="organizeid" />
		<result column="category" jdbcType="INTEGER" property="category" />
		<result column="enCode" jdbcType="VARCHAR" property="encode" />
		<result column="fullName" jdbcType="VARCHAR" property="fullname" />
		<result column="type" jdbcType="VARCHAR" property="type" />
		<result column="responsibility" jdbcType="VARCHAR" property="responsibility" />
		<result column="allowEdit" jdbcType="INTEGER" property="allowedit" />
		<result column="allowDelete" jdbcType="INTEGER" property="allowdelete" />
		<result column="sortCode" jdbcType="INTEGER" property="sortcode" />
		<result column="deleteMark" jdbcType="INTEGER" property="deletemark" />
		<result column="enabledMark" jdbcType="INTEGER" property="enabledmark" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="creatorTime" jdbcType="TIMESTAMP" property="creatortime" />
		<result column="creatorUserId" jdbcType="VARCHAR" property="creatoruserid" />
		<result column="lastModifyTime" jdbcType="TIMESTAMP" property="lastmodifytime" />
		<result column="lastModifyUserId" jdbcType="VARCHAR" property="lastmodifyuserid" />
		<result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
		<result column="deleteUserId" jdbcType="VARCHAR" property="deleteuserid" />
	</resultMap>

	<sql id="Base_Column_List">
		id, organizeId, category, enCode, fullName, type, responsibility, allowEdit, allowDelete,
    sortCode, deleteMark, enabledMark, description, creatorTime, creatorUserId, lastModifyTime,
    lastModifyUserId, deleteTime, deleteUserId
	</sql>

	<select id="queryAllDataByCategory" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_role where F_Category = #{F_Category,jdbcType=INTEGER} and F_DeleteMark = 0
	</select>


	<!-- 分页查询 -->
	<select id="queryRoleByPage" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_role
		<where>
			F_Category=#{roleType} and F_DeleteMark = 0
			<if test="keyword != null and keyword !='' ">
				and (F_FullName like ('%'+#{keyword}+'%') or F_EnCode like
				('%'+#{keyword}+'%') )
			</if>
		</where>
	</select>

	<select id="queryOneByRoleId" resultMap="BaseResultMap"
		parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from sys_role where F_Id = #{roleId,jdbcType=INTEGER}
	</select>

	<insert id="addRole" parameterType="java.util.Map"
		useGeneratedKeys="true" keyProperty="F_Id">
		insert into sys_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sysRole.fId != null">
				F_Id,
			</if>
			<if test="sysRole.fOrganizeid != null">
				F_OrganizeId,
			</if>
			<if test="sysRole.fCategory != null">
				F_Category,
			</if>
			<if test="sysRole.fEncode != null">
				F_EnCode,
			</if>
			<if test="sysRole.fFullname != null">
				F_FullName,
			</if>
			<if test="sysRole.fType != null">
				F_Type,
			</if>
			<if test="sysRole.fAllowedit != null">
				F_AllowEdit,
			</if>
			<if test="sysRole.fAllowdelete != null">
				F_AllowDelete,
			</if>
			<if test="sysRole.fSortcode != null">
				F_SortCode,
			</if>
			<if test="sysRole.fDeletemark != null">
				F_DeleteMark,
			</if>
			<if test="sysRole.fEnabledmark != null">
				F_EnabledMark,
			</if>
			<if test="sysRole.fDescription != null">
				F_Description,
			</if>
			<if test="sysRole.fCreatortime != null">
				F_CreatorTime,
			</if>
			<if test="sysRole.fCreatoruserid != null">
				F_CreatorUserId,
			</if>
			<if test="sysRole.fLastmodifytime != null">
				F_LastModifyTime,
			</if>
			<if test="sysRole.fLastmodifyuserid != null">
				F_LastModifyUserId,
			</if>
			<if test="sysRole.fDeletetime != null">
				F_DeleteTime,
			</if>
			<if test="sysRole.fDeleteuserid != null">
				F_DeleteUserId,
			</if>
			<if test="sysRole.fResponsibility != null">
				F_Responsibility,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sysRole.fId != null">
				#{sysRole.fId,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fOrganizeid != null">
				#{sysRole.fOrganizeid,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fCategory != null">
				#{sysRole.fCategory,jdbcType=INTEGER},
			</if>
			<if test="sysRole.fEncode != null">
				#{sysRole.fEncode,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fFullname != null">
				#{sysRole.fFullname,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fType != null">
				#{sysRole.fType,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fAllowedit != null">
				#{sysRole.fAllowedit,jdbcType=BIT},
			</if>
			<if test="sysRole.fAllowdelete != null">
				#{sysRole.fAllowdelete,jdbcType=BIT},
			</if>
			<if test="sysRole.fSortcode != null">
				#{sysRole.fSortcode,jdbcType=INTEGER},
			</if>
			<if test="sysRole.fDeletemark != null">
				#{sysRole.fDeletemark,jdbcType=BIT},
			</if>
			<if test="sysRole.fEnabledmark != null">
				#{sysRole.fEnabledmark,jdbcType=BIT},
			</if>
			<if test="sysRole.fDescription != null">
				#{sysRole.fDescription,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fCreatortime != null">
				#{sysRole.fCreatortime,jdbcType=TIMESTAMP},
			</if>
			<if test="sysRole.fCreatoruserid != null">
				#{sysRole.fCreatoruserid,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fLastmodifytime != null">
				#{sysRole.fLastmodifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="sysRole.fLastmodifyuserid != null">
				#{sysRole.fLastmodifyuserid,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fDeletetime != null">
				#{sysRole.fDeletetime,jdbcType=TIMESTAMP},
			</if>
			<if test="sysRole.fDeleteuserid != null">
				#{sysRole.fDeleteuserid,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fResponsibility != null">
				#{sysRole.fResponsibility,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>


	<update id="updateRoleByRoleId" parameterType="java.util.Map">
		update sys_role
		<set>
			<if test="sysRole.fOrganizeid != null">
				F_Organizeid = #{sysRole.fOrganizeid,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fCategory != null">
				F_Category = #{sysRole.fCategory,jdbcType=INTEGER},
			</if>
			<if test="sysRole.fEncode != null">
				F_Encode = #{sysRole.fEncode,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fFullname != null">
				F_Fullname = #{sysRole.fFullname,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fType != null">
				F_Type = #{sysRole.fType,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fAllowedit != null">
				F_Allowedit = #{sysRole.fAllowedit,jdbcType=BIT},
			</if>
			<if test="sysRole.fAllowdelete != null">
				F_Allowdelete = #{sysRole.fAllowdelete,jdbcType=BIT},
			</if>
			<if test="sysRole.fSortcode != null">
				F_Sortcode = #{sysRole.fSortcode,jdbcType=INTEGER},
			</if>
			<if test="sysRole.fDeletemark != null">
				F_Deletemark = #{sysRole.fDeletemark,jdbcType=BIT},
			</if>
			<if test="sysRole.fEnabledmark != null">
				F_Enabledmark = #{sysRole.fEnabledmark,jdbcType=BIT},
			</if>
			<if test="sysRole.fDescription != null">
				F_Description = #{sysRole.fDescription,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fCreatortime != null">
				F_Creatortime = #{sysRole.fCreatortime,jdbcType=TIMESTAMP},
			</if>
			<if test="sysRole.fCreatoruserid != null">
				F_Creatoruserid = #{sysRole.fCreatoruserid,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fLastmodifytime != null">
				F_Lastmodifytime = #{sysRole.fLastmodifytime,jdbcType=TIMESTAMP},
			</if>
			<if test="sysRole.fLastmodifyuserid != null">
				F_Lastmodifyuserid = #{sysRole.fLastmodifyuserid,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fDeletetime != null">
				F_Deletetime = #{sysRole.fDeletetime,jdbcType=TIMESTAMP},
			</if>
			<if test="sysRole.fDeleteuserid != null">
				F_Deleteuserid = #{sysRole.fDeleteuserid,jdbcType=VARCHAR},
			</if>
			<if test="sysRole.fResponsibility != null">
				F_Responsibility = #{sysRole.fResponsibility,jdbcType=VARCHAR},
			</if>
		</set>
		 where F_Id=#{sysRole.fId,jdbcType=VARCHAR}
	</update>
	
	<update id="deleteRole" parameterType="java.util.Map">
		update sys_role set F_DeleteMark  = 1,F_DeleteUserId =#{F_DeleteUserId,jdbcType=VARCHAR} ,F_DeleteTime =#{F_DeleteTime,jdbcType=TIMESTAMP} 
		where F_Id=#{roleId,jdbcType=VARCHAR}
  	</update>
  	
	
	<!-- 批量修改，根据idCard修改 paymentEndDate -->
    <!-- <update id="batchUpdateByIdCard" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";"> 
        	update family_register set payment_end_date = #{item.paymentEndDate} where id_card = #{item.idCard}
        </foreach>
    </update> -->
  	
  	
</mapper>