<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wt.overflow.dao.SysRoleauthorizeMapper" >
  <resultMap id="BaseResultMap" type="com.wt.overflow.bean.SysRoleauthorize" >
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="itemType" jdbcType="INTEGER" property="itemtype" />
    <result column="itemId" jdbcType="VARCHAR" property="itemid" />
    <result column="objectType" jdbcType="INTEGER" property="objecttype" />
    <result column="objectId" jdbcType="VARCHAR" property="objectid" />
    <result column="sortCode" jdbcType="INTEGER" property="sortcode" />
    <result column="creatorTime" jdbcType="TIMESTAMP" property="creatortime" />
    <result column="creatorUserId" jdbcType="VARCHAR" property="creatoruserid" />
    <result column="deleteMark" jdbcType="INTEGER" property="deletemark" />
  </resultMap>
  
  <!-- sys_roleauthorize -->
  <sql id="Base_Column_List" >
      id, itemType, itemId, objectType, objectId, sortCode, creatorTime, creatorUserId,
    deleteMark
  </sql>
  
 <select id="queryMenuByRoleId" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from sys_roleauthorize 
    <where>
    	F_DeleteMark  = 0
    	<if test ="roleId !=null and roleId !='' ">
    		and F_ObjectId = #{roleId,jdbcType=VARCHAR} 
    	</if>	
    	<if test ="FId !=null and FId !='' ">
    		and F_ItemId = #{FId,jdbcType=VARCHAR} 
    	</if>
    	
    </where>
    
  </select>
  
  
  
  <insert id="addSysRoleauthorize" parameterType="com.wt.overflow.bean.SysRoleauthorize">
    insert into sys_roleauthorize
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        F_Id,
      </if>
      <if test="fItemtype != null">
        F_ItemType,
      </if>
      <if test="fItemid != null">
        F_ItemId,
      </if>
      <if test="fObjecttype != null">
        F_ObjectType,
      </if>
      <if test="fObjectid != null">
        F_ObjectId,
      </if>
      <if test="fSortcode != null">
        F_SortCode,
      </if>
      <if test="fCreatortime != null">
        F_CreatorTime,
      </if>
      <if test="fCreatoruserid != null">
        F_CreatorUserId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        #{fId,jdbcType=VARCHAR},
      </if>
      <if test="fItemtype != null">
        #{fItemtype,jdbcType=INTEGER},
      </if>
      <if test="fItemid != null">
        #{fItemid,jdbcType=VARCHAR},
      </if>
      <if test="fObjecttype != null">
        #{fObjecttype,jdbcType=INTEGER},
      </if>
      <if test="fObjectid != null">
        #{fObjectid,jdbcType=VARCHAR},
      </if>
      <if test="fSortcode != null">
        #{fSortcode,jdbcType=INTEGER},
      </if>
      <if test="fCreatortime != null">
        #{fCreatortime,jdbcType=TIMESTAMP},
      </if>
      <if test="fCreatoruserid != null">
        #{fCreatoruserid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="deleteAllByRoleId" parameterType="java.util.Map">
		update sys_roleauthorize set F_DeleteMark  = 1 where F_ObjectId=#{sysRole.fId,jdbcType=VARCHAR}
  </update>
</mapper>