<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.overflow.dao.SysUserLogOnMapper">
  <resultMap id="BaseResultMap" type="com.wt.overflow.bean.SysUserLogOn">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="userPassword" jdbcType="VARCHAR" property="userpassword" />
    <result column="userSecretkey" jdbcType="VARCHAR" property="usersecretkey" />
    <result column="allowStartTime" jdbcType="TIMESTAMP" property="allowstarttime" />
    <result column="allowEndTime" jdbcType="TIMESTAMP" property="allowendtime" />
    <result column="lockStartDate" jdbcType="TIMESTAMP" property="lockstartdate" />
    <result column="lockEndDate" jdbcType="TIMESTAMP" property="lockenddate" />
    <result column="firstVisitTime" jdbcType="TIMESTAMP" property="firstvisittime" />
    <result column="previousVisitTime" jdbcType="TIMESTAMP" property="previousvisittime" />
    <result column="lastVisitTime" jdbcType="TIMESTAMP" property="lastvisittime" />
    <result column="changePasswordDate" jdbcType="TIMESTAMP" property="changepassworddate" />
    <result column="multiUserLogin" jdbcType="INTEGER" property="multiuserlogin" />
    <result column="logOnCount" jdbcType="INTEGER" property="logoncount" />
    <result column="userOnLine" jdbcType="INTEGER" property="useronline" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="answerQuestion" jdbcType="VARCHAR" property="answerquestion" />
    <result column="checkIPAddress" jdbcType="INTEGER" property="checkipaddress" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="theme" jdbcType="VARCHAR" property="theme" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, userId, userPassword, userSecretkey, allowStartTime, allowEndTime, lockStartDate,
    lockEndDate, firstVisitTime, previousVisitTime, lastVisitTime, changePasswordDate,
    multiUserLogin, logOnCount, userOnLine, question, answerQuestion, checkIPAddress,
    language, theme
  </sql>
  
  
  
  <insert id="addSysUserPassWord" parameterType="com.wt.overflow.bean.SysUserLogOn">
    insert into sys_userlogon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        F_Id,
      </if>
      <if test="fUserid != null">
        F_UserId,
      </if>
      <if test="fUserpassword != null">
        F_UserPassword,
      </if>
      <if test="fUsersecretkey != null">
        F_UserSecretkey,
      </if>
      <if test="fAllowstarttime != null">
        F_AllowStartTime,
      </if>
      <if test="fAllowendtime != null">
        F_AllowEndTime,
      </if>
      <if test="fLockstartdate != null">
        F_LockStartDate,
      </if>
      <if test="fLockenddate != null">
        F_LockEndDate,
      </if>
      <if test="fFirstvisittime != null">
        F_FirstVisitTime,
      </if>
      <if test="fPreviousvisittime != null">
        F_PreviousVisitTime,
      </if>
      <if test="fLastvisittime != null">
        F_LastVisitTime,
      </if>
      <if test="fChangepassworddate != null">
        F_ChangePasswordDate,
      </if>
      <if test="fMultiuserlogin != null">
        F_MultiUserLogin,
      </if>
      <if test="fLogoncount != null">
        F_LogOnCount,
      </if>
      <if test="fUseronline != null">
        F_UserOnLine,
      </if>
      <if test="fQuestion != null">
        F_Question,
      </if>
      <if test="fAnswerquestion != null">
        F_AnswerQuestion,
      </if>
      <if test="fCheckipaddress != null">
        F_CheckIPAddress,
      </if>
      <if test="fLanguage != null">
        F_Language,
      </if>
      <if test="fTheme != null">
        F_Theme,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fId != null">
        #{fId,jdbcType=VARCHAR},
      </if>
      <if test="fUserid != null">
        #{fUserid,jdbcType=VARCHAR},
      </if>
      <if test="fUserpassword != null">
        #{fUserpassword,jdbcType=VARCHAR},
      </if>
      <if test="fUsersecretkey != null">
        #{fUsersecretkey,jdbcType=VARCHAR},
      </if>
      <if test="fAllowstarttime != null">
        #{fAllowstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="fAllowendtime != null">
        #{fAllowendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fLockstartdate != null">
        #{fLockstartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fLockenddate != null">
        #{fLockenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="fFirstvisittime != null">
        #{fFirstvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fPreviousvisittime != null">
        #{fPreviousvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fLastvisittime != null">
        #{fLastvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fChangepassworddate != null">
        #{fChangepassworddate,jdbcType=TIMESTAMP},
      </if>
      <if test="fMultiuserlogin != null">
        #{fMultiuserlogin,jdbcType=BIT},
      </if>
      <if test="fLogoncount != null">
        #{fLogoncount,jdbcType=INTEGER},
      </if>
      <if test="fUseronline != null">
        #{fUseronline,jdbcType=BIT},
      </if>
      <if test="fQuestion != null">
        #{fQuestion,jdbcType=VARCHAR},
      </if>
      <if test="fAnswerquestion != null">
        #{fAnswerquestion,jdbcType=VARCHAR},
      </if>
      <if test="fCheckipaddress != null">
        #{fCheckipaddress,jdbcType=BIT},
      </if>
      <if test="fLanguage != null">
        #{fLanguage,jdbcType=VARCHAR},
      </if>
      <if test="fTheme != null">
        #{fTheme,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateSysUserPassWord" parameterType="com.wt.overflow.bean.SysUserLogOn">
    update sys_userlogon
    <set>
      <if test="fUserid != null">
        F_UserId = #{fUserid,jdbcType=VARCHAR},
      </if>
      <if test="fUserpassword != null">
        F_UserPassword = #{fUserpassword,jdbcType=VARCHAR},
      </if>
      <if test="fUsersecretkey != null">
        F_UserSecretkey = #{fUsersecretkey,jdbcType=VARCHAR},
      </if>
      <if test="fAllowstarttime != null">
        F_AllowStartTime = #{fAllowstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="fAllowendtime != null">
        F_AllowEndTime = #{fAllowendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="fLockstartdate != null">
        F_LockStartDate = #{fLockstartdate,jdbcType=TIMESTAMP},
      </if>
      <if test="fLockenddate != null">
        F_LockEndDate = #{fLockenddate,jdbcType=TIMESTAMP},
      </if>
      <if test="fFirstvisittime != null">
        F_FirstVisitTime = #{fFirstvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fPreviousvisittime != null">
        F_PreviousVisitTime = #{fPreviousvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fLastvisittime != null">
        F_LastVisitTime = #{fLastvisittime,jdbcType=TIMESTAMP},
      </if>
      <if test="fChangepassworddate != null">
        F_ChangePasswordDate = #{fChangepassworddate,jdbcType=TIMESTAMP},
      </if>
      <if test="fMultiuserlogin != null">
        F_MultiUserLogin = #{fMultiuserlogin,jdbcType=BIT},
      </if>
      <if test="fLogoncount != null">
        F_LogOnCount = #{fLogoncount,jdbcType=INTEGER},
      </if>
      <if test="fUseronline != null">
        F_UserOnLine = #{fUseronline,jdbcType=BIT},
      </if>
      <if test="fQuestion != null">
        F_Question = #{fQuestion,jdbcType=VARCHAR},
      </if>
      <if test="fAnswerquestion != null">
        F_AnswerQuestion = #{fAnswerquestion,jdbcType=VARCHAR},
      </if>
      <if test="fCheckipaddress != null">
        F_CheckIPAddress = #{fCheckipaddress,jdbcType=BIT},
      </if>
      <if test="fLanguage != null">
        F_Language = #{fLanguage,jdbcType=VARCHAR},
      </if>
      <if test="fTheme != null">
        F_Theme = #{fTheme,jdbcType=VARCHAR},
      </if>
    </set>
    where F_UserId = #{fUserid,jdbcType=VARCHAR}
  </update>
</mapper>